.page-logo {
  max-width: 200px;
}

.home {
    height: 642px;
    width: 100%;
    margin-top: -19px;
    margin-bottom: -46px;
    background-image: url('../../images/home.jpg');
    background-position: 50% 50%;
    background-size: cover;
}