$color-white: #ffffff;

$color-silver-dark: #828282;
$color-silver: #a5a5a5;
$color-silver-light: #f8f8f8;

$color-red-dark: #d45161;
$color-red:  #d9534f;
$color-red-light: #ffafaf;
$color-red-light-2: #ffc5c5;

$color-green-default: #16967a;
$color-green: #5cb85c;
$color-green-light: #b3ffd8;

$color-blue-light: #7ab8f0;
$color-blue: #41a1f8;
$color-blue-dark: #188ffa;