.forum-page {
    .posts {
        .list-item {
            height: 73px;
            width: 684px;

            a {
                outline: none;
                text-decoration: none;
            }

            .list-item-avatar {
                display: block;
                width: 45px;
                height: 45px;
                margin-left: 6px;
                margin-right: 12px;
                float: left;
            }

            .list-content {
                display: block;
                width: 617px;
                float: left;
                word-break: break-all;
                margin-left: 4px;
            }

            .list-title {
                font-size: 16px;
                line-height: 24px;
                color: #2b2b2b;
                vertical-align: baseline;
            }
        }
    }
}