.profile-page {
    .profile-menu {
        min-height: 600px;
    }

    .profile-body {
        min-height: 600px;
        background: #ffffff;
        padding: 24px;

        .basic-view {
            .avatar-upload {
                margin: 0 auto;
                width: 104px;

                .ant-upload.ant-upload-select.ant-upload-select-picture-card {
                    background: #ffffff !important;
                    border: none !important;
                }

                img {
                    width: 100px;
                    border-radius: 100px;
                }
            }

            .basic-form {
                margin-top: 40px;
            }

            .alert-div {
                width: 49%;
                margin: 0 auto;
                margin-bottom: 20px;
            }
            
        }
    }
    .search {
        text-align: right;
        margin-bottom: 20px;
    }

    .del-post-btn {
        margin-right: 20px;
    }

    //comment view style
    .comments-view-page {
        border: 1px solid #eee;
    }

    .ant-list-item-meta-content {
        padding: 0 16px;
    }

    .ant-list-item:hover {
        background: #e6f7ff;
    }

    .ant-list-item {
        cursor: pointer;
        transition: .5s all;
    }

    .ant-list-item-meta {
        width: 100%;
    }

    span.post-time {
        float: right;
    }

    .ant-list-item-meta-description {
        background: #e6f7ff;
        padding: 6px;
        border-radius: 4px;
    }

    a.origin-post {
        font-size: 0.8rem;
        text-decoration: none;
    }

    .ant-list-item-meta-description:hover {
        background: #ffffff;
    }

    i.anticon.anticon-link {
        margin-left: 10px;
    }
    
    .view-more {
        text-align: center;
        margin-top: 20px;
    }
}